---
const { title, text } = Astro.props
---

<div>
  <h4>{title}</h4>
  <p>{text}</p>
</div>

<style scoped>
  div {
    background-color: #ddd;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0px 0px 10px #000;
  }

  h4 {
    color: #333;
    font-weight: 900;
    font-size: 1.6em;
  }

  p {
    color: #333;
  }
</style>
