<div class='make-info'>
  <div class='make-info-container'>
    <img src='./logo.webp' alt='Logo de la empresa Soluciones Empresariales' />
    <span>Soluciones Empresariales</span>
  </div>
  <ul>
    <li>
      <strong>Email:</strong>
      <span>claudia.alonso83@hotmail.com</span>
    </li>
    <li>
      <strong>Telefóno:</strong>
      <span>+52-866-148-6390</span>
    </li>
  </ul>
</div>

<style scoped>
  .make-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 2em;
    align-items: center;
  }

  .make-info-container {
    display: flex;
    color: #333;
    align-items: center;
  }

  .make-info-container span {
    font-size: 1.2em;
    font-weight: 900;
  }

  .make-info-container img {
    width: 80px;
    margin-right: 10px;
  }
</style>
